{% extends "jangsaapp/base.html" %}
{% load static %}
{% block content %}


<div class="mar container p-3 justify-content-center align-items-center">
  <div class="row g-4">
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'jangsaapp/images/catt.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Loki</h4>
          <p class="card-text">very rude, stay away</p>
          <a href="#" class="btn btn-primary">Adopt now </a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'jangsaapp/images/catt.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Loki</h4>
          <p class="card-text">very rude, stay away</p>
          <a href="#" class="btn btn-primary">Adopt now </a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'jangsaapp/images/catt.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Loki</h4>
          <p class="card-text">very rude, stay away</p>
          <a href="#" class="btn btn-primary">Adopt now </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'jangsaapp/images/catt.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Loki</h4>
          <p class="card-text">very rude, stay away</p>
          <a href="#" class="btn btn-primary">Adopt now </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'jangsaapp/images/catt.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Loki</h4>
          <p class="card-text">very rude, stay away</p>
          <a href="#" class="btn btn-primary">Adopt now </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}